<div class='row'>
	<div class='col-md-12'>
		<p><h2 style="text-align:center">Terms And Conditions</h2></p>
		<div class="highlight">
			<pre>
				<code class="html">
					<span class="nt">ljshdsuehkughlireuhgehrghsvekngjwlerkjgwlcevhfgikjgjvntvgjnrntuvbgnhrhfgbcwienhfcfdosjrnfkln</span>
					<span class="nt">ljshdfdosjrnfkln</span>
				</code>
			</pre>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    I agree with this terms and conditions
		  </label>
		</div>
		<p style="text-align:center">
		  <button type="button" class="btn btn-default btn-lg">Large button</button>
		</p>
	</div>
</div>