<div class='row'>
	<div class='col-md-12'>
		<p><h2 style="text-align:center">Terms And Conditions</h2></p>
		<div class="highlight">
			<pre>
				<code class="html">
					<span class="nt">ljshdsuehkughlireuhgehrghsvekngjwlerkjgwlcevhfgikjgjvntvgjnrntuvbgnhrhfgbcwienhfcfdosjrnfkln</span>
					<span class="nt">ljshdfdosjrnfkln</span>
				</code>
			</pre>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    I agree with this terms and conditions
		  </label>
		</div>
		<p style="text-align:center">
		  <%= link_to express_checkout_path(account_id: params[:id]), method: :post do %>
		  	<%= image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif") %>
		  <% end %>

		</p>
	</div>
</div>