
<div class='row'>
	<div class='col-md-12'>
		<p><h2 style="text-align:center">Terms And Conditions</h2></p>
		<div class="highlight">
			<pre>
				<code class="html">
					<span class="nt">ljshdsuehkughlireuhgehrghsvekngjwlerkjgwlcevhfgikjgjvntvgjnrntuvbgnhrhfgbcwienhfcfdosjrnfkln</span>
					<span class="nt">ljshdfdosjrnfkln</span>
				</code>
			</pre>
		</div>
		<div class="checkbox">
		  <label>
		    <input id="terms" type="checkbox" value="">
		    I agree with this terms and conditions
		  </label>
		</div>
		<p id="paypal" style="text-align:center; display:none ">
		  <%= link_to express_checkout_path(account_id: params[:id]), method: :post do %>
		  	<%= image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif") %>
		  <% end %>
		</p>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#terms').on('click', function() {
			if($('#terms').is(':checked')) {
				$('#paypal').show();
			} 
			else {
			$('#paypal').hide();
			}
		})
	})
</script>